#legend.panel.panel-default
  .panel-heading
    |Select Districts
  ul.list-group
    li.list-group-item.active Cities
    li.list-group-item.active School Districts
    li.list-group-item.active Special Districts