#legend.panel.panel-default
  .panel-heading
    |Select type(s)
  ul.list-group
    li.list-group-item.active
      span.glyphicon.glyphicon-ok
      |&nbsp;Cities
    li.list-group-item.active
      span.glyphicon.glyphicon-ok
      |&nbsp;School Districts
    li.list-group-item.active
      span.glyphicon.glyphicon-ok
      |&nbsp;Special Districts
