div#header
  .container
    .innder-container
      strong.logo
        <a href="http://californiapolicycenter.org/"><img src="http://californiapolicycenter.org/wp-content/uploads/sites/2/2015/04/logo_cpc_v2_244x60.png" alt="California Policy Center"></a>
      ul.nav.navbar-nav.navbar-right.search-icon
        li#searchIcon
          a(href='#', onclick="GOVWIKI.show_search_page()") Search &nbsp;&nbsp;&nbsp;
            span.glyphicon.glyphicon-search(style="font-size:200%;vertical-align:middle;")
